* {
    box-sizing: border-box;
    padding:0px;
    margin: 0px;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    text-align: center;
}

.calculator {
    margin-top:40px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #000;
    border-radius: 5px;
    width: 232px;
    min-height: 315px;
    background-color: #555658;
    overflow: hidden;
}

.display {
    min-height: 50px;
    text-align: right;
    padding: 20px 15px;
    padding-bottom: 0px;
}

.value {
    color:#fff;
    font-size: 40px;
}

.button-container {

}

.button-row {

}

.button-tile {
    display: inline-block;
    vertical-align: top;
    width: 25%;
}

.button-tile a {
    display: block;
    margin-right: 1px;
    margin-bottom: 1px;
    text-decoration: none;
}

.button-tile:last-child a {
    margin-right: 0px;
}

.button {
    background-color: #7e7f81;
    padding: 13px;
    color: #fff;
}

.button-dark {
    background-color: #646567;
}

.button-orange {
    background-color: #f2a23b;
}

.button-tile-2x {
    width: 50%;
}